body{
	height: 100vh;
}
	nav{
		max-height: 3em;
	}
	#inicio{
		display: grid;
		grid-template: "a b" "c c" "d e" "f ." "g g";
		gap: .5rem;
	}
		#inicio > * {
			margin: 0px;
		}
			#modal-seleccion-label{
				grid-area:c;
			}
			#modal-boton{
				grid-area:g;
			}
	#container-principal,#row-principal{
		height: 100%;
	}
		#container-principal{
			width: 80%;
		}
			#row-principal > .col{
				height: 100%;
				overflow-y: auto;overflow-x: hidden;
				padding-bottom: 1rem;
			}
				#generacionesChart{
					width: min-content;
					margin: auto;
				}
				#controles{
					display: flex;
					width: 50%;
					margin: auto;
				}
				#generaciones{
					display: grid;
					overflow:auto;
					gap: 0.5rem;
				}
					#generaciones span{
						text-align: center;
					}
					#generaciones-header, .generaciones-n-resumen{
						display: grid;
						grid-template-columns: 1fr repeat(3,2fr) 1fr;
						border: solid 1px;
						padding: .5rem;
						border-radius: 4px;
					}
						#generaciones-header{
							position: sticky;
							top: 0;
							font-weight: bold;
							color: var(--dark);
							border: solid var(--dark);
						}
					.generaciones-n{
						display: flex;flex-direction: column-reverse;
					}
						.generaciones-n-resumen{
							background:var(--dark);
							color: white;
							cursor: pointer;
							user-select: none;
						}
							.generaciones-n-resumen:after{
								content: '\f078';
								font-family: "Font Awesome 5 Free";font-weight: bold;
								text-align: center;
								transition: transform .5s;
								margin: auto;
							}
								.generaciones-n-individuos-shown + .generaciones-n-resumen::after {
									transform: rotate(-180deg);
								}
						.generaciones-n-individuos{
							display: grid;
							grid-template-columns: 1fr 6fr 3fr 3fr;
							height: 0;
							overflow: hidden;
						}
							.generaciones-n-individuos-shown{
								height: auto;
							}
							.generaciones-n-individuos > span {
								padding: .25rem;
							}
								.generaciones-n-individuos-header{
									font-weight: bold;
								}
								.generaciones-n-individuos > span:nth-child(8n)
								,.generaciones-n-individuos > span:nth-child(8n-1)
								,.generaciones-n-individuos > span:nth-child(8n-2)
								,.generaciones-n-individuos > span:nth-child(8n-3){
									background: #EEE;
								}